
<h4 class="center-align notSelectable margin-bottom-40">Witamy w aplikacji SmartPark!</h4>


<div class="row margin-bottom-40">
    <div class="col s12 center-align">
        <button ui-sref="app.order" class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Kliknij aby zakupić wyjazdy </button>
    </div>
</div>


<div class="notSelectable">
    <h5 class="center-align">Wykonał: inż. Tomasz Kamiński</h5>
    <h5 class="center-align">Przyszły projekt graficzny: inż. Katarzyna Jasiewicz</h5>
</div>
